{% extends 'layout.html' %}
{% block content %}
<h2>Edit IPO Shares</h2>
<form action="{{ url_for('edit_ipo', id=entry.id) }}" method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.item_name.label }}<br>
        {{ form.item_name(size=32) }}<br>
        {% for error in form.item_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.ipo_date.label }}<br>
        {{ form.ipo_date(size=32) }}<br>
        {% for error in form.ipo_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.ipo_quantity.label }}<br>
        {{ form.ipo_quantity(size=32) }}<br>
        {% for error in form.ipo_quantity.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.ipo_rate.label }}<br>
        {{ form.ipo_rate(size=32) }}<br>
        {% for error in form.ipo_rate.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
<a href="{{ url_for('report') }}">Back to Report</a>
{% endblock %}